{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>We are a local basketball club that is passionate about technology and utilizing it to enhance our players' experience. Our basketball program is the best in the region, and we strive to provide a supportive and challenging environment for all of our players.</p>
<p>At our club, we believe that basketball is not just a game, but a way of life. We focus on developing not only our players' physical abilities but also their mental toughness, teamwork, and leadership skills.</p>
<p>Whether you're a seasoned player or just starting out, we welcome you to join our community and experience the joy and excitement of basketball.</p>
{% endblock %}