<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Login{% endblock %}</title>
</head>
<body>
  {% if user.profile.usertype == "Player"%}
  <h1>Basketball Management | Player</h1>
  {% elif user.profile.usertype == "Manager"%}
  <h1>Basketball Management | Manager</h1>
  {% elif user.profile.usertype == "Coach"%}
  <h1>Basketball Management | Coach</h1>
  {% else%}
  <h1>Basketball Management</h1>
  {% endif%}

  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'aboutus' %}">About Us</a>
  <a href="{% url 'schedule' %}">Schedule</a>
  <a href="{% url 'performance' %}">Performance</a>
  <a href="{% url 'management' %}">Management</a>
  <a href="{% url 'communication' %}">Communication</a>
  <div style="float: right; margin-right:100px;">
  
    {% if user.is_authenticated %}
    <a href="{% url 'myuser' %}">{{user.get_username}}</a>
    <p style="display:inline;"> | </p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </div>
  <hr>
  {% block content %}
  {% endblock %}
</body>
</html>