{% extends 'base.html' %}

{% block content %}
<style>
.button {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button1 {
  background-color: white;
  color: black;
  border: 2px solid #96270F;
}

.button1:hover {
  background-color: #96270F;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #271815;
}

.button2:hover {
  background-color: #271815;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 3px solid #92EE0D ;
}

.button3:hover {
  background-color: #92EE0D ;
  color: white;
}
.button4 {
  background-color: white;
  color: black;
  border: 3px solid #EC4545 ;
}

.button4:hover {
  background-color: #EC4545 ;
  color: white;
}
</style>
  <h1>Confirm Team Deletion</h1>
  <h2>Are you sure you want to delete the team?</h2>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" name="confirm" class="button button4" value="yes" onclick="return confirm('Are you sure you want to delete your account?')">Delete</button>
    <button type="button" class="button button3" onclick="window.location.href='{% url 'management' %}'">Cancel</button>

  </form>
{% endblock %}