{% extends 'base.html' %}

{% block content %}
  <h1>Team List</h1>
  <a href="{% url 'add_team' %}">Create Team</a>
  <ul>
  {% for team in teams %}
    <li>
      <strong>Team:</strong> {{ team.name }}<br>
      <strong>Coach:</strong> {{ team.coach }}<br>
      <strong>Players:</strong> 
      {% for player in team.players.all %}
        <a href="{% url 'player_profile' username=player.user.username %}">{{ player.user.get_username }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}<br>
      {% if user.is_authenticated %}
      <div class="card-footer text-muted">
        <a href="{% url 'delete_team' team.name %}" class="btn btn-outline-danger btn-sm">Delete Team</a>            
        <a href="{% url 'update_team' team.name %}" class="btn btn-outline-danger btn-sm">Edit Team</a> 
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <h1>List of requests</h1>
  <ul>
  {% for signup_request in signup_requests %}
    <li>
      <strong>Full name: </strong>{{ signup_request.player.get_full_name }}<br>
      <strong>Username: </strong>{{ signup_request.player.get_username }}<br>
      <strong>Email: </strong>{{ signup_request.player.email }}<br>
      <form action="{% url 'accept_request' username=signup_request.player.get_username %}" method="post">
        {% csrf_token %}
        <label for="due_amount">Enter due amount:</label>
        <input type="number" id="due_amount" name="due_amount" required min="0" max="1000000"><br><br>
        <button type="submit" class="btn btn-outline-danger btn-sm">Accept request</button>
        <button type="submit" class="btn btn-outline-danger btn-sm" formaction="{% url 'reject_request' username=signup_request.player.get_username %}">Reject request</button>
      </form>
    </li>
  {% endfor %}
  </ul>
{% endblock %}
