{% extends 'base.html' %}

{% block content %}
<h1>Payment</h1>
<p> Due payment: {{ due_payment }} </p> 
<a href="{% url 'payment' %}">Pay</a>
<h1>Team List</h1>
  <ul>
  {% for team in teams %}
    {% for player in team.players.all %}
      {% if player.user.username == user.username %}
        <li>
          <strong>Team:</strong> {{ team.name }}<br>
          <strong>Coach:</strong> {{ team.coach }}<br>
          <strong>Players:</strong> {{ team.players.all|join:", " }}<br>
        </li>
      {% endif %}
    {% endfor %} 
  {% endfor %}
  </ul>
{% endblock %}