{% extends 'base.html' %}

{% block title %}
  My user
{% endblock %}

{% block content %}
  <h1>{{user.username}}</h1>
  {% if user.profile.usertype == "Player"%}
  <h1>Player</h1>
  {% elif user.profile.usertype == "Manager"%}
  <h1>Manager</h1>
  {% elif user.profile.usertype == "Coach"%}
  <h1>Coach</h1>
  {% endif%}  
  <h2>{{user.get_full_name}}</h2>
  <h3>Email: {{user.email}}</h3> 
  <p>Session started at {{user.last_login}}</p>
  <a href="{% url 'changepassword' %}">Change password</a>
  <a href="{% url 'deleteaccount' %}">Delete account</a>
  <a href="{% url 'Edit_Personal_Info' %}">Edit Personal Info</a>
  {% if messages %}

  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}