{% extends 'base.html' %}

{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'performance_coach.css' %}">
</head>

<a href="{% url 'add_stat' %}" class="btn">Add Player Stat</a>
<a href="{% url 'add_game' %}" class="btn">Add Game Record</a>


  <h1>Player Statistics:</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>PPG</th>
        <th>RPG</th>
        <th>APG</th>
        <th>SPG</th>
        <th>BPG</th>
        <th>TOVPG</th>
        <th>MPG</th>
        <th>Rating</th>
        {% if user.is_authenticated %}
          <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for stat in stats %}
      <tr>
        <td>{{ stat.name }}</td>
        <td>{{ stat.position }}</td>
        <td>{{ stat.PPG }}</td>
        <td>{{ stat.RPG }}</td>
        <td>{{ stat.APG }}</td>
        <td>{{ stat.SPG }}</td>
        <td>{{ stat.BPG }}</td>
        <td>{{ stat.TOVPG }}</td>
        <td>{{ stat.MPG }}</td>
        <td class="{% if stat.rating >= 8 %}text-success{% elif stat.rating >= 6 %}text-warning{% else %}text-danger{% endif %}">{{ stat.rating }}</td>
        {% if user.is_authenticated %}
          <td>
            <a href="{% url 'update_stat' stat.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
            <a href="{% url 'delete_stat' stat.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h1>Game Records:</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team 1</th>
        <th>Team 2</th>
        <th>Winner</th>
        {% if user.is_authenticated %}
          <th>Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for game in games %}
      <tr>
        <td>{{ game.Team1 }}</td>
        <td>{{ game.Team2 }}</td>
        <td>{{ game.Winner }}</td>
        {% if user.is_authenticated %}
          <td>
            <a href="{% url 'update_game' game.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
            <a href="{% url 'delete_game' game.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
