{% extends 'base.html' %}

{% block content %}
  <h1>Statistics List</h1>
  <a href="{% url 'add_stat' %}">Create stat</a>
  <ul>
  {% for stat in stats %}
    <li>
      <strong>Name:</strong> {{ stat.name }}<br>
      <strong>Position:</strong> {{ stat.position }}<br>
      <strong>stat1:</strong> {{ stat.stat1 }}<br>
      {% if user.is_authenticated %}
      <div class="card-footer text-muted">          
        <a href="{% url 'update_stat' stat.name %}" class="btn btn-outline-danger btn-sm">Edit Team</a> 
      </div>
  {% endif %}
    </li>
  {% endfor %}

  </ul>
{% endblock %}